@use "../styles/globals" as globals;

.page {
  position: relative;
  z-index: 0;
  min-height: calc(100vh - 3rem);

  &Play {
    background-color: globals.$grey;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10rem 1rem 2rem;
  }

  .wrapper {
    width: globals.$page-wrapper;
    background-color: globals.$primary-white;
    border-radius: globals.$app-border-radius;
    display: flex;
    justify-content: center;
  }
}

.main {
  padding: 4rem 1rem 2rem;
  flex-basis: 80%;
  border-top-left-radius: globals.$app-border-radius;
  border-bottom-left-radius: globals.$app-border-radius;
}

.sidebar {
  background-color: globals.$beige;
  border-top-right-radius: globals.$app-border-radius;
  border-bottom-right-radius: globals.$app-border-radius;
}
